.letterOutput {
	
	/* Misc. */
	font-size:					4rem;
	width:						4rem;
	display:					inline-block;
	
	/* Roll-over */
	transition:					rotate 1s;
	transition-timing-function:	ease;
	rotate:						360deg;

}

.hasBeenGuessed {
	rotate:						0deg;
}