@use "sass:map";
@import "src/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=#{map.get($globalFonts, 'siteFont')}");

body {

	// Misc.
	text-align:				center;
	color:					black;
	font-family:			"#{map.get($globalFonts, 'siteFont')}", sans-serif;

	// Backdrop Image
	overflow:				hidden;

}

/* <button>s do not inherit font-family from <body> by default, so... */
button { font-family: inherit; }