$globalColours: (
	"deadBlack"			: rgb(017, 017, 017),
	"nearlyBlack"		: rgb(054, 054, 054),
	"mutedText"			: rgb(161, 161, 161),
	"midGrey"			: rgb(218, 218, 218),
	"subtleGrey"		: rgb(241, 241, 241),
	"lurid"				: rgb(255, 000, 000),
	"cinnamonBrown"		: rgb(101, 042, 014),
	"muddyBrown"		: rgb(128, 071, 028),
	"pecanBrown"		: rgb(074, 037, 017),
	"vespaYellow"		: rgb(244, 196, 048)
);

$globalFonts: (
	"siteFont"			: Lexend
);

$globalSizes: (
	"midBorderRadius"	: 4px
);